@font-face {
    font-family: "Milkshake";
    src: url("/Milkshake.ttf") format("truetype");
}

@font-face {
    font-family: "KaushanScript-Regular";
    src: url("/KaushanScript-Regular.otf") format("opentype");
}

/* ////////////////////// GENERAL ////////////////////// */

* {
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: KaushanScript-Regular;
}

/* html,
body {
    height: 100%;
} */

body {
    background-color: rgb(178, 248, 241);
    /* display: flex; */
    /* flex-direction: column; */
}

/* .content {
    flex: 1 0 auto;
} */

main {
    min-height: calc(100vh - 50px);
    /* min-height: 100%; */
}

a {
    color: rgb(85, 85, 85);
    text-decoration: none;
}

a:hover {
    color: blue;
}

img {
    max-height: 100%;
    width: auto;
    /* border: 5px solid rgb(90, 1, 1);
    padding: 3px; */
}

.img-frame {
    border: 5px solid rgb(90, 1, 1);
    padding: 3px;
    background-color: white;
}

.placeholder {
    height: 20px;
}

.center {
    text-align: center;
}

.pointer {
    cursor: pointer;
}

.white {
    color: white;
}

.nomargin {
    margin: 0;
}

.one-percent-right {
    margin-right: 1%;
}

.five-percent-right {
    margin-right: 5%;
}

.one-percent-top {
    margin-top: 1%;
}

.one-percent-bottom {
    margin-bottom: 1%;
}

/* ////////////////////// HEADLINES ////////////////////// */

h1 {
    font-family: Milkshake;
    font-size: 50px;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 50px;
    /* margin-bottom: 10px; */
}

h5 {
    color: red;
    text-align: center;
}

/* ////////////////////// HEADER ////////////////////// */

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

/* ////////////////////// LOGO ////////////////////// */

.logo-big {
    height: 500px;
    width: 500px;
    display: block;
    margin: auto;
}

.logo-small {
    height: 100px;
    margin-right: 100px;
}

/* ////////////////////// NAVBAR ////////////////////// */

.navbar-container {
    width: 35%;
    position: absolute;
    top: 15px;
    right: 90px;
    display: flex;
    justify-content: space-between;
}

/* ////////////////////// REGISTER ////////////////////// */
.register-container {
    height: 550px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    margin: 5% 25% 0 25%;
    border-radius: 3%;
}

.flexbox-register {
    height: 350px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
}

ion-icon {
    font-size: 24px;
    margin-right: 10px;
    transform: translateY(5px);
}

input {
    height: 30px;
    width: 300px;
    font-size: 20px;
    background-color: white;
    padding: 0 5px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    /* box-shadow: 8px 6px 30px 0px grey; */
}

input:hover {
    background-color: rgb(233, 231, 231);
}

input:focus {
    outline: none;
}

button {
    color: white;
    background-color: burlywood;
    width: 150px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    border: none;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}

button:hover {
    background-color: rgb(185, 150, 104);
}

button:active {
    transform: translateY(2px);
}

button:focus {
    outline: none;
}

/* ////////////////////// LOGIN ////////////////////// */

.login-container {
    height: 450px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    margin: 5% 30% 0 30%;
    border-radius: 3%;
}

.flexbox-login {
    height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
}

/* ////////////////////// RESET ////////////////////// */

.reset-container {
    height: 400px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    margin: 5% 25% 0 25%;
    border-radius: 3%;
    opacity: 0.9;
}

.flexbox-reset {
    height: 350px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
}

/* ////////////////////// PROFILE-PIC ////////////////////// */

.profile-pic-frame {
    background: white;
    width: 55px;
    padding: 2.5px;
    box-shadow: 0 0 2px 0px black;
    border-radius: 3%;
    position: absolute;
    right: 15px;
    top: 15px;
    overflow: hidden;
}

.profile-pic-frame:hover {
    opacity: 0.8;
}

.profile-pic {
    /* width: 50px; */
    /* height: 50px; */
}

/* ////////////////////// PROFILE ////////////////////// */
.profile {
    position: absolute;
    margin: 5% 5% 0 15%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.pic-for-profile {
    /* height: 100%; */
    width: 300px;
    overflow: hidden;
    margin-right: 1%;
    text-align: center;
}

.profilepic {
    overflow: hidden;
}

.text-for-profile {
    width: 50%;
}

.text-for-profile p {
    margin-bottom: 15%;
}

.profile-fullname {
    margin-bottom: 5%;
    /* width: 100%; */
}

/* ////////////////////// BIO-EDITOR ////////////////////// */

.bio-text {
    font-family: "Indie Flower", cursive;
    font-size: 20px;
}

.edit-bio-button {
    margin-top: 5%;
}

textarea {
    font-size: 20px;
    background-color: whitesmoke;
    margin-bottom: 3%;
}

.flexbox-buttons-bioeditor {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.bigger-button {
    width: 300px;
}

/* ////////////////////// FIND PEOPLE ////////////////////// */

.people-container {
    position: relative;
    margin-right: 5%;
}

#find-people {
    margin-top: 5%;
}

#searchbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: -2% 0 3% 0;
}

#searchbar input {
    width: 300px;
    margin-right: 1%;
}

.peers {
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.pic-peers {
    height: 200px;
    width: 200px;
    text-align: center;
    overflow: hidden;
}

/* ////////////////////// FRIEND-BUTTON ////////////////////// */

#friend-button-container {
    display: flex;
}

#friend-button-container p {
    font-family: "Indie Flower", cursive;
}

.friend-button {
    font-size: 15px;
    width: 90px;
    height: 90px;
    background-color: rgb(222, 184, 135);
    /* rgb(255, 0, 0, 0.7); */
    border-radius: 50%;
    margin-right: 0;
    padding: 1%;
    transform: translate(120%, -130%);
}

.friend-button:hover {
    background-color: rgb(185, 150, 104);
    /* rgb(199, 4, 4); */
    transform: translate(120%, -130%);
}

/* ////////////////////// FRIENDS / STATUS ////////////////////// */

.button-translate {
    font-size: 13px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 0;
    transform: translate(210%, -120%);
}

.button-translate:hover {
    transform: translate(210%, -120%);
}

.green {
    background-color: rgb(1, 131, 1, 0.5);
}

.green:hover {
    background-color: rgba(1, 107, 1, 0.8);
}

.red {
    background-color: rgb(255, 0, 0, 0.5);
}

.red:hover {
    background-color: rgb(199, 4, 4, 0.8);
}

/* ////////////////////// UPLOADER-MODAL ////////////////////// */

.uploader {
    z-index: 10;
}

.img-modal {
    background-image: url(/memphis-colorful.png);
    height: 35%;
    top: 15%;
    padding: 2%;
    width: 30%;
    left: 70%;
    border-radius: 10% 0 0 10%;
    box-shadow: 0 0 6px 0px black;
    position: fixed;
    /* overflow: hidden; */
    /* transition: 1s ease-out; */
    transition: 1s ease-in;
    /* transform: translateX(0%, 100%); */
    /* transform: translate(100vw, 0); */
    /* transform: translateX(0, 100vw); */
    /* transform: translateX(0, 100%); */
}

.x {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 15px;
}

.x:hover {
    color: grey;
}

.x:active {
    transform: translateY(1px);
}

.choose-file {
    margin: 7% 20%;
}

.choose-file:hover {
    background-color: rgb(238, 236, 236);
}

label:hover {
    color: grey;
}

.input-for-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.button-uploader {
    margin-top: 5%;
}

/* ////////////////////// FOOTER ////////////////////// */

footer {
    background-color: rgb(128, 128, 128, 0.8);
    /* flex-shrink: 0; */
    display: grid;
    grid-template-columns: 1fr 200px;
    height: 50px;
    margin-top: 50px;
}

#copyright {
    color: white;
    font-size: 16px;
    padding: 15px 0 10px 10px;
}

.contact {
    padding: 9px;
}
